# dependencies
node_modules/
.pnp
.pnp.js

# production (Vite output)
/dist
/build

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env*.local

# vercel
.vercel
